<script src='https://cdn.tiny.cloud/1/<%= process.env.TINYAPI %>/tinymce/5/tinymce.min.js' referrerpolicy='origin'></script>

<div class="sub-content-box">
  <h2>Write Post</h2>

  <div class="row">
    <select id="id" onchange="selectPost()">
      <option value="" selected>Select a post to edit</option>
      <% for (var post_id in data.posts) { %>
      <option value="<%= post_id %>"><%= data.posts[post_id].title %> - <%= data.posts[post_id].date %></option>
      <% } %>
    </select>
  </div>
  <div class="row">
    <select id="location">
      <option value="drafts" selected>Save as draft</option>
      <% if (data['sess-jobs'].includes('CO') || data['sess-jobs'].includes('XO') || data['sess-jobs'].includes('ISO')) { %>
      <option value="home">Post to home page announcements</option>
      <% } %>
      <% if (data['sess-jobs'].includes('Academics')) { %>
      <option value="academics">Post to academics page</option>
      <% } %>
      <% if (data['sess-jobs'].includes('MDO')) { %>
      <option value="military">Post to military page</option>
      <% } %>
      <% if (data['sess-jobs'].includes('PDO')) { %>
      <option value="academics">Post to physical page</option>
      <% } %>
      <% if (data['sess-jobs'].includes('HIST-O')) { %>
      <option value="history">Post to home page history section</option>
      <% } %>
    </select>
  </div>
  <div class="row">
    <input type="text" id="title" placeholder="Enter title..." required>
  </div>
  <div class="row">
    <textarea id="editor"></textarea>
  </div>
  <form method="post" onsubmit="submitPost()">
    <div class="row">
      <input type="text" id="submitID" name="id" hidden>
      <input type="text" id="submitTitle" name="title" hidden>
      <input type="text" id="submitLocation" name="location" hidden>
      <input type="text" id="submitText" name="text" hidden>
      <button type="submit" formaction="/staff/tools/write-post" id="submit">Submit</button>
      <button type="submit" formaction="/staff/tools/edit-post" id="save" style="display: none;">Save</button>
      <button type="submit" formaction="/staff/tools/delete-post" id="delete" style="display: none;">Delete</button>
    </div>
  </form>
</div>

<script>
  tinymce.init({
    plugins: 'table autoresize link media lists',
    selector: '#editor',
    width: '95%',
    toolbar: 'fontsizeselect fontselect | forecolor backcolor | bold italic underline | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | media link table | clear',
    default_link_target: "_blank",
    menubar: false,
    content_style: 'body { background-color: rgb(104, 104, 104); }',
    setup: function(e) { e.on('init', function() {
       this.getContainer().style['border-radius'] = '10px'
       this.getContainer().style['margin-bottom'] = '10px'
    })}
  })

  function submitPost() {
    $('#submitID').val($('#id').val())
    $('#submitTitle').val(btoa($('#title').val()))
    $('#submitLocation').val($('#location').val())
    $('#submitText').val(btoa(tinymce.activeEditor.getContent()))

  }

  let post_id = null
  let temp_post = { 'title': '', 'location': '', 'text': '' }
  let posts = <%- JSON.stringify(data.posts) %>
  function selectPost() {
    if (post_id == null) {
      temp_post['title'] = $('#title').val(),
      temp_post['location'] = $('#location').val(),
      temp_post['text'] = tinymce.activeEditor.getContent()
    }

    if ($('#id').val() == "") {
      $('#title').val(temp_post['title'])
      $('#location').val(temp_post['location'])
      tinymce.activeEditor.setContent(temp_post['text'])

      $('#submit').show()
      $('#save').hide()
      $('#delete').hide()
    } else {
      $('#title').val(posts[$('#id').val()]['title'])
      $('#location').val(posts[$('#id').val()]['location'])
      tinymce.activeEditor.setContent(atob(posts[$('#id').val()]['text']))

      $('#submit').hide()
      $('#save').show()
      $('#delete').show()
    }
  }
</script>