<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <link rel="stylesheet" href="/stylesheets/form.css">
</head>

<body>

  <% include ../partials/nav.ejs %>

  <div class="container">
    <h1><%= data.firstname %>'s Profile</h1>
  </div>

  <!-- DATABASE INFORMATION -->
  <div class="container">
    <h3 class="section-title">Public Information</h3>

    <form action="/update-user" method="post">
      <div class="form-group">
        <label class="col-md-2 control-label">First Name</label>
        <div class="col-md-10">
          <input type="text" name="fn" value=<%= data.firstname %>>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label">Last Name</label>
        <div class="col-md-10">
          <input type="text" name="ln" value=<%= data.lastname %>>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label">Middle Initial</label>
        <div class="col-md-10">
          <input type="text" name="mi" value=<%= data.middleinitial %>>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label">Academic Year</label>
        <div class="col-md-10">
          <input type="text" name="ay" value=<%= data.academicyear %>>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label">Platoon</label>
        <div class="col-md-10">
          <input type="text" name="pl" value=<%= data.platoon %>>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label">Squad</label>
        <div class="col-md-10">
          <input type="text" name="sq" value=<%= data.squad %>>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label">Room</label>
        <div class="col-md-10">
          <input type="text" name="rm" value=<%= data.room %>>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label">Major</label>
        <div class="col-md-10">
          <input type="text" name="mj" value=<%= data.major %>>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label">Mentorship</label>
        <div class="col-md-10">
          <input type="text" name="mn" value=<%= data.mentorship %>>
        </div>
      </div>

      <div class="col-md-12">
        <button type="submit">Update</button>
      </div>
    </form>
  </div>

  <!-- PERSONAL INFORMATION -->
  <div class="container">
    <h3 class="section-title">Personal Information (Work in Progress)</h3>

    <div class="form-group">
      <label class="col-md-2 control-label">X-Number</label>
      <div class="col-md-10">
        <input type="text" name="xn" value=<%= user %>>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label">Email</label>
      <div class="col-md-10">
        <input type="text" name="em" value=<%= data.email %>>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label">Phone Number</label>
      <div class="col-md-10">
        <input type="text" name="xn" value=<%= data.phonenumber %>>
      </div>
    </div>
  </div>

  <!-- RESET PASSWORD -->
  <div class="container">
    <h3 class="section-title">Reset Password (Work in Progress)</h3>

    <div class="form-group">
      <label class="col-md-2 control-label">New Password</label>
      <div class="col-md-10">
        <input type="text" name="em" placeholder="Enter password">
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label">Repeat New Password</label>
      <div class="col-md-10">
        <input type="text" name="em" placeholder="Repeat password">
      </div>
    </div>
  </div>

</body>
</html>
