<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <link rel="stylesheet" href="/stylesheets/roster.css">
</head>

<body>

<% include ../partials/nav.ejs %>

  <!-- CONTAINER 1 -->
  <div class="container">
    <div class="col-md-12 text-center">
      <h1>Company Database</h1>
    </div>

    <div class="col-md-12 text-center search-options" style="visibility: hidden">
      <label for="sortbox">Sort by:</label>
      <select name="sortbox" id="sortbox"></select>
      <input type="search" name="searchbox" id="searchbox" placeholder="Search...">
      <button type="submit">Search</button>
    </div>

    <div class="col-md-12 text-center">
      <table id="results-table">
        <tr>
          <th>AY</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Middle Initial</th>
          <th>Platoon</th>
          <th>Squad</th>
          <th>Room #</th>
          <th>Major</th>
          <th>Mentorship</th>
        </tr>
        <% data.rows.forEach(function(cdt) { %>
        <tr>
          <td><%= cdt.academicyear %></td>
          <td><%= cdt.firstname %></td>
          <td><%= cdt.lastname %></td>
          <td><%= cdt.middleinitial %></td>
          <td><%= cdt.platoon %></td>
          <td><%= cdt.squad %></td>
          <td><%= cdt.room %></td>
          <td><%= cdt.major %></td>
          <td><%= cdt.mentorship %></td>
        </tr>
        <% }); %>
      </table>
    </div>
  </div>

</body>
</html>
